/* 

.tableRecord{
  display:flex;
  flex-direction:column;

  padding:10px;
  gap:10px;
}
table{
  width:100%;
  border-collapse:collapse;
}
th,td{
  font-size:16px;
  border:1px solid #000;
  text-align: center;
  padding:1rem;

}
th{
  background-color:black;
  color:#fff;
}
td{
  background-color:blanchedalmond;
} */